#buscador {
    margin-left: 8px !important;
}

#lista {
    margin-top: 10px;
}

main {
    padding-top: 10px;
    margin: auto;
}

h1 {
    background-color: rgb(7, 124, 109);
    color: white;
    font-size: 2em;
}