#buscador {
    margin-left: 8px !important;
}

#lista {
    margin-top: 10px;
}

main {
    padding-top: 10px;
    margin: auto;
}

h1 {
    background-color: rgb(7, 124, 109);
    color: white;
    font-size: 2em;
}

#imagenes img {
    filter: grayscale(100%);
}

#imagenes img.selected {
    filter: grayscale(0);
}

#formulario>* {
    margin: 2px;
}

#radioMujer,
#labelRadioMujer {
    padding-left: 1.5em;
    margin-left: 1.5em;
}