#buscador {
    margin-left: 8px !important;
}

#lista {
    margin-top: 10px;
    height: fit-content !important;
    max-height: 80vh;
    overflow-y: auto;
    white-space: nowrap;
}

#lista.list-group {
    background-color: sandybrown !important;
}

body {
    margin: 0.5em;
    background-color: black;
    width: 1080px !important;
    align-content: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    padding-top: 10px;
    margin: auto;
    background-color: sandybrown;
    border-radius: 10px;
    padding-bottom: 5px;
}

main .list-group {
    background-color: white !important;
}

h1 {
    background-color: rgb(124, 63, 7);
    color: white;
    font-size: 2em;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}

#imagenes img {
    filter: grayscale(100%);
}

#imagenes img.selected {
    filter: grayscale(0);
}

#cursosinactivos img.selected,
#cursosactivos img.selected,
#cursosModal img.selected {
    background-color: steelblue;
}

#formularioAlumno>* {
    margin: 2px;
    height: fit-content;
}

#radioMujer,
#labelRadioMujer {
    padding-left: 1.5em;
    margin-left: 1.5em;
}

#lista>li>p {
    float: right;
    color: grey !important;
    font-size: 10px;
    margin-top: -10px;
    padding-right: 20px;
    z-index: 1000;
}

#lista>li>div {
    width: max-content;
    padding-top: 1em;
}

#lista>li {
    padding-left: 0;
    text-align: left;
    padding-right: 0em;
    height: 95px;
}

#cursosactivos,
#cursosinactivos {
    border: solid 1px;
    border-color: rgb(199, 199, 199);
    border-radius: 3px !important;
}

#lista2,
.modal-body {
    background-color: sandybrown !important;
}

#cursosactivos,
#cursosinactivos,
#cursosModal {
    height: 20em;
    max-height: 20em;
    overflow-y: auto;
    white-space: nowrap;
}

#cursosinactivos img.disabled,
#cursosactivos img.disabled {
    background-color: steelblue;
    filter: grayscale(100%);
}

#titulocursos {
    padding-left: 0;
}

body {
    width: 100%;
}

#cursos>div {
    padding-left: 1em;
}

#lista2 {
    margin-top: 0.5em;
    padding-bottom: 1em;
}

#botonescursos {
    height: auto;
}

.btn-primary {
    background-color: #007bff !important;
}

.btn-danger {
    background-color: #dc3545 !important;
}

#botones {
    padding-top: 2em;
}

#cursos {
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.titulos {
    align-self: center;
    font-size: 20px;
    font-weight: 700;
}

#bMostrarModal {
    max-width: 100%;
}

img {
    width: 55px;
    height: 55px;
    align-self: center;
}

.bounceOutLeft {
    animation-duration: 2s;
}

.card {
    margin-top: 2em;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card h6 {
    font-size: 10px !important;
}

.persona {
    padding-left: 1.5em;
    width: 100% !important;
    justify-content: space-between;
    display: flex;
}

#lista>li>div {
    width: 100%;
    padding-top: 0;
}

#formularioAlumno>.list-group-item {
    border: 0;
}

#formularioAlumno {
    border-radius: 3px !important;
}

.bloque {
    padding-left: 5px !important;
    padding-right: 20px;
}

div.col-2.bloque {
    vertical-align: middle !important;
    align-self: center;
}

#cursosactivos>div,
#cursosinactivos>div {
    background-color: rgb(252, 228, 217);
}

input#add,
input#del {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 70px;
}

i:hover {
    transform: scale(1.7);
    transition: all ease 500ms;
}

.fa-pen:hover {
    color: blue;
}

.fa-trash:hover {
    color: rgb(253, 9, 9);
}